.blog,
.popular {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__last {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
        &--card {
            max-width: 312px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            border: 1px solid #c6ccd2;
            overflow: hidden;
            margin-bottom: 24px;
            @media (max-width: 680px) {
                max-width: 100%;
            }
            .card-img {
                max-height: 175px;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .card-category,
            .card-title,
            .card-description,
            .card-button,
            .card-country {
                padding: 0px 24px;
            }
            .card-category {
                margin-top: 16px;
                span {
                    border-radius: 32px;
                    border: 1px solid #b3d7fb;
                    text-transform: uppercase;
                    font-weight: 700;
                    background-color: #f5faff;
                    padding: 8px 16px;
                }
            }
            .card-button {
                margin: 16px 0px;
                height: 54px;
                text-transform: uppercase;
                display: flex;
                a {
                    color: #105293;
                    font-weight: 700;
                    padding: 16px;
                }
            }
        }
    }
}


// blog cards
.blog {
    &-all {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 20px;
        justify-content: space-between;
        .post {
            flex: 0 0 30%;
            padding-bottom: 15px;
            margin-bottom: 35px;
            position: relative;
            
            @media (max-width: 991px) {
                flex: 1 1 400px;
            }
            border-bottom: 1px solid $neutral40;
            &__thumbnail {
                width: 100%;
                max-height: 200px;
                overflow: hidden;
                border-radius: 6px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .5s;
                    
                }
            }
            &__description {
                margin-bottom: 60px;
            }
            &__button {
                padding: 10px 0px;
                position: absolute;
                bottom: 10px;
                right: 0px;
                &--btn {
                    color: $neutral80;
                    background-color: $primary60;
                    font-size: 18px;
                    padding: 6px 12px;
                    border-radius: 4px;
                    margin: 20px 0px;
                    font-weight: 700;
                }
            }
            
            &:hover {
                &__thumbnail {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.post__back {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
}