.search {
    margin-top: -100px;
    height: 200px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    box-shadow: 0px 16px 32px -4px rgba(68, 88, 105, 0.24);
    margin-bottom: 72px;
    &__data {
        display: flex;
    }
    &__data--input {
        border-radius: 8px;
        border: 1px solid #c6ccd2;
        padding: 16px;
        margin: 0px 12px;
    }
    &__submit--button {
        border-radius: 8px;
        border: none;
        padding: 16px;
        margin: 0px 12px;
        text-transform: uppercase;
        min-width: 120px;
    }
    form {
        display: flex;
        align-items: center;
    }
}

.promoted,
.recommended {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__slider {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        flex-wrap: wrap;
        &--card {
            max-width: 312px;
            margin-bottom: 24px;
            overflow: hidden;
            border-radius: 8px;
            border: 1px solid #c6ccd2;
            .card-img {
                max-height: 175px;
                overflow: hidden;
                img {
                    width: 100%;
                    object-fit: cover;
                    margin-top: -40px;
                }
            }
            .card-details,
            .card-description,
            .card-title {
                padding: 0px 24px;
            }
            .card-title {
                display: flex;
                justify-content: space-between;
                h3 {
                    font-size: 18px;
                    margin-bottom: 0px;
                }
            }
            .card-details {
                margin-bottom: 40px;
                p {
                    margin-top: 0px;
                    font-size: 14px;
                }
            }
        }
    }
}

.recommended {
    &__offers {
        display: flex;
        justify-content: space-between;
        .first-offer {
            flex: 0 0 647px;
            margin-right: 24px;
            margin-bottom: 24px;
            .recommended__slider--card {
                max-width: 100%;
                height: 100%;
            }
            .card-img {
                max-height: 274px;
            }
        }
        .all-offers {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

.blog {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__last {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
        &--card {
            max-width: 312px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            border: 1px solid #c6ccd2;
            overflow: hidden;
            margin-bottom: 24px;
            .card-img {
                max-height: 175px;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .card-category,
            .card-title,
            .card-description,
            .card-button {
                padding: 0px 24px;
            }
            .card-category {
                margin-top: 16px;
                span {
                    border-radius: 32px;
                    border: 1px solid #b3d7fb;
                    text-transform: uppercase;
                    font-weight: 700;
                    background-color: #f5faff;
                    padding: 8px 16px;
                }
            }
            .card-button {
                margin: 16px 0px;
                height: 54px;
                text-transform: uppercase;
                display: flex;
                a {
                    color: #105293;
                    font-weight: 700;
                    padding: 16px;
                }
            }
        }
    }
}
