@import './scss/variables/variables';

@import "./scss/components/navbar";
@import "./scss/components/header";
@import "./scss/components/newsletter";
@import "./scss/components/footer";
@import "./scss/components/inputs";
@import "./scss/components/searchbar";
@import "./scss/components/loader";

@import "./scss/pages/homepage";
@import "./scss/pages/hotel";
@import "./scss/pages/account";
@import "./scss/pages/blog";
@import "./scss/pages/results";

.container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #000;
    text-decoration: none;
}

.section-title {
    font-size: 32px;
}

.section-all {
    border-bottom: 2px solid #73808c;
    text-transform: uppercase;
    color: #73808c;
    font-weight: 700;
}

.active {
    color: red;
}

.slick-prev {
    transform: rotate(-180deg) translateY(9.7px);
}

.slick-slider {
    .slick-slide {
        justify-content: center;
    }
}

.slick-list {
    padding-bottom: 20px;
}